.nav__link {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.caja-uno {
  text-align: center;
  padding: 10px;
  border: 2px solid black;
  margin: auto;
}
.dif-sect {
  padding: 30px;
  margin-top: auto;
  border: 2px solid;
  &:hover {
    color: black;
  }
}

.flex-container {
  @include flex-container;
}

.logo {
  display: flex;
  justify-content: center;
  transition: all;
}

.logo :hover {
  height: 300px;
  width: 300px;
}

.int-act {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: none;
}
.int-act :hover {
  background-color: #eeee14;
}
.container-h2 {
  padding: 10px;
  margin: 1vh;
  border: 2px solid black;
  font-size: x-large;
}
